<!DOCTYPE html>
<html>
<head>
  <title>Model</title>
  <%= stylesheet_link_tag    "scheduler/model/application", media: "all" %>
  <%= javascript_include_tag "scheduler/model/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
